.App{
  position:relative;
  min-height: 100%;
}

.content-wrap{
  padding-bottom: 10rem;
}

#about,
#footer {
  background-color: #3c3b3b;
  color: #ffffff;
}

#projects {
  background: rgb(60, 59, 59);
  background: linear-gradient(
    180deg,
    rgba(60, 59, 59, 1) 0%,
    rgba(255, 255, 255, 1) 85%
  );
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 10rem;
}

#project-module{
  background: rgba(255, 255, 255, .65);
  border-radius: .6rem;
  padding:2rem;
  box-shadow: 0 0 25px rgb(0,0,0,.25);
}

.project {
  box-sizing: border-box;
  min-height: 175px;
  background:rgb(60, 59, 59);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  margin: 15px -15px;
  border-radius: .3rem;
  flex-direction: column;
  padding: 1rem 1rem 0;
  cursor: pointer;
  transition: all .3s;
}

.project:hover{
  box-shadow: 0 0 15px rgb(0,0,0,.5);
  background:rgb(75, 75, 75);
}

.project-clicked{
  box-sizing: border-box;
  min-height: 175px;
  background:rgb(207, 160, 160);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 15px -15px;
  border-radius: .3rem;
  flex-direction: column;
  padding: 1rem 1rem 0;
  transition: all .3s;
}

.project-clicked .btn{
  margin:.25rem;
}

.hide{
  display: none;
}