

/* make the customizations */
$theme-colors: (
        primary: #02c39a
);

$border-radius: 10rem;
$font-family-sans-serif: 'Open Sans', sans-serif;




/* import bootstrap to set changes */
@import "../node_modules/bootstrap";